@import url("style.css");

body {
    overflow-x: hidden;
}

.bg-nova-historia {
    height: 200px;
    margin: 2rem 0;
    background: url("/img/bg-nova-historia-inicio.webp") no-repeat;
    background-size: contain;
}


.animacao-bt {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    animation-name: bt-move-direita;
    animation: bt-move-direita 6s;
}

@keyframes bt-move-direita {
    from {
        left: 0;
        transform: rotate(145deg);
        
    }
    to {
        left: 50%;
        transform: translate(-50%);
      
    }
}



