@import url("style.css");

body{
    background-image: linear-gradient( #1e4dd9 0%, #a62e7c 100%);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

main{
    margin: 20px 0;
    color: #f2622e;
    text-align: center;
}

.form-label{
    background-color: #fff;
    width: 35%;
    min-width: 400px;
    display: block;
    flex-direction: column;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 30px;
}
     
.form-group{  
    color: rgb(14, 14, 14);
    margin-bottom: 15px;
    text-align: left;
}

h2{
    text-align: center;
    color: #f2622e; 
}

button{
    width: 60%;
}

form {
    width: 80%;
  }








    

    
