html {
    font-size: 16px;
}

body {
    font-family:'Quicksand', 'sans-serif';
}

.title_font {
    font-family: 'Berkshire Swash', cursive;
}

header, .footer_app {
    background-color: #a62e7c;
}


.bg_app_primary {
    background-color: #03A65A;
}

.bg_app_secondary {
    background-color: #1E4DD9;
}

.button_app_secondary {
    background-color: #1E4DD9;
    border-radius: 10px;
    border: #1E4DD9 1px solid;
    color: aliceblue;
    font-size: 1.25rem;
    padding: 1rem;
    margin: .5rem;
}

.button_app_primary {
    background-color: #03A65A;
    border-radius: 10px;
    border: #03A65A 1px solid;
    color: aliceblue;
    font-size: 1.25rem;
    padding: 1rem;
    margin: .5rem;
}

.text_app_primary {
    color: #03A65A;
}

.text_app_secondary {
    color: #1E4DD9;
}